version: 2.1

orbs:
  snyk: snyk/snyk@1.1.2

_snyk_options: &snyk_options
  project: "${CIRCLE_PROJECT_REPONAME}/${CIRCLE_BRANCH}"
  organization: "legal-aid-agency"
  severity-threshold: "high"
  fail-on-issues: false
  monitor-on-build: false
  token-variable: SNYK_TOKEN
  additional-arguments: --policy-path=.snyk

# ------------------
# EXECUTORS
# ------------------
executors:
  openjdk-executor:
    resource_class: medium
    docker:
      - image: cimg/openjdk:17.0.6

# ------------------
# COMMANDS
# ------------------
commands:
  publish_artefact:
    description: >
      Publish artefact to Maven Central
    parameters:
      type:
        type: enum
        default: "minor"
        enum: ["minor", "major", "patch", "snapshot"]
        description: Specifies the type of release (major, minor, patch, snapshot)
      tagPrefix:
        default: "rest-client-"
        type: string
        description: Tag prefix for semver plugin
      module:
        default: "crime-commons-spring-boot-starter-rest-client"
        type: string
        description: Module name for release and publish
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-gradle-wrapper-{{ checksum "gradle/wrapper/gradle-wrapper.properties" }}
            - v1-gradle-cache-{{ checksum "build.gradle" }}
      - when:
          condition:
            equal: ["major", << parameters.type >>]
          steps:
            - run:
                name: Publish major release to Maven Central
                command: ./gradlew pushSemverTag "-PisSnapshot=false" "-Psemver.stage=final" "-Psemver.scope=major" "-Psemver.tagPrefix=<< parameters.tagPrefix >>" :<< parameters.module >>:publishToSonatype closeAndReleaseSonatypeStagingRepository
      - when:
          condition:
            equal: ["minor", << parameters.type >>]
          steps:
            - run:
                name: Publish minor release to Maven Central
                command: ./gradlew pushSemverTag "-PisSnapshot=false" "-Psemver.stage=final" "-Psemver.scope=minor" "-Psemver.tagPrefix=<< parameters.tagPrefix >>" :<< parameters.module >>:publishToSonatype closeAndReleaseSonatypeStagingRepository

      - when:
          condition:
            equal: ["patch", << parameters.type >>]
          steps:
            - run:
                name: Publish patch release to Maven Central
                command: ./gradlew pushSemverTag "-PisSnapshot=false" "-Psemver.stage=final" "-Psemver.scope=patch" "-Psemver.tagPrefix=<< parameters.tagPrefix >>" :<< parameters.module >>:publishToSonatype closeAndReleaseSonatypeStagingRepository

      - when:
          condition:
            equal: ["snapshot", << parameters.type >>]
          steps:
            - run:
                name: Publish snapshot release to Maven Central
                command: ./gradlew pushSemverTag "-PisSnapshot=true" "-Psemver.stage=snapshot" "-Psemver.scope=minor" "-Psemver.tagPrefix=<< parameters.tagPrefix >>" :<< parameters.module >>:publishToSonatype closeAndReleaseSonatypeStagingRepository

  authenticate_host:
    description: >
      Add github.com to known hosts
    steps:
      - run: ssh-keyscan github.com >> ~/.ssh/known_hosts

# ------------------
# JOBS
# ------------------
jobs:
  build_and_test:
    environment:
      _JAVA_OPTIONS: "-Xmx3g"
      GRADLE_OPTS: "-Dorg.gradle.daemon=t --add-opens=java.prefs/java.util.prefs=ALL-UNNAMED --add-opens=java.base/java.lang=ALL-UNNAMED"
    executor: openjdk-executor
    working_directory: ~/laa-crime-commons
    steps:
      - checkout
      - attach_workspace:
          at: .
      - restore_cache:
          keys:
            - v1-gradle-wrapper-{{ checksum "gradle/wrapper/gradle-wrapper.properties" }}
            - v1-gradle-cache-{{ checksum "crime-commons-spring-boot-starter-rest-client/build.gradle" }}
            - v1-gradle-cache-{{ checksum "crime-commons-classes/build.gradle" }}
            - v1-gradle-cache-{{ checksum "crime-commons-schemas/build.gradle" }}
            - v1-gradle-cache-{{ checksum "crime-commons-mod-schemas/build.gradle" }}
      - run:
          name: Build crime-commons-spring-boot-starter-rest-client and run tests
          command: ./gradlew shadowJar crime-commons-spring-boot-starter-rest-client:build
      - run:
          name: Build crime-commons-classes and run tests
          command: ./gradlew crime-commons-classes:build
      - run:
          name: Build crime-commons-schemas and run tests
          command: ./gradlew crime-commons-schemas:build
      - run:
          name: Build crime-commons-mod-schemas and run tests
          command: ./gradlew crime-commons-mod-schemas:build
      - run:
          name: Run SonarQube
          command: ./gradlew sonar
      - save_cache:
          paths:
            - ~/.gradle/wrapper
          key: v1-gradle-wrapper-{{ checksum "gradle/wrapper/gradle-wrapper.properties" }}
      - save_cache:
          paths:
            - ~/.gradle/caches
          key: v1-gradle-cache-{{ checksum "crime-commons-spring-boot-starter-rest-client/build.gradle" }}
      - save_cache:
          paths:
            - ~/.gradle/caches
          key: v1-gradle-cache-{{ checksum "crime-commons-classes/build.gradle" }}
      - save_cache:
          paths:
            - ~/.gradle/caches
          key: v1-gradle-cache-{{ checksum "crime-commons-schemas/build.gradle" }}
      - save_cache:
          paths:
            - ~/.gradle/caches
          key: v1-gradle-cache-{{ checksum "crime-commons-mod-schemas/build.gradle" }}
      - persist_to_workspace:
          root: .
          paths:
            - .

  snyk_scan:
    executor: openjdk-executor
    working_directory: ~/laa-crime-commons
    steps:
      - checkout:
          path: ~/laa-crime-commons
      - snyk/scan:
          <<: *snyk_options

  publish_release:
    parameters:
      release_type:
        type: enum
        enum: ["minor", "major", "patch", "snapshot"]
        description: Specifies the type of release (major, minor, patch, snapshot)
      module:
        type: string
        description: Module name for release and publish
      tagPrefix:
        type: string
        description: Tag prefix for semver plugin
    executor: openjdk-executor
    working_directory: ~/laa-crime-commons/<< parameters.module >>
    steps:
      - add_ssh_keys:
          fingerprints:
            - "6b:a8:8f:5d:a4:fc:7e:03:b2:0f:e2:a5:0a:ae:8f:8b"
      - authenticate_host
      - publish_artefact:
          type: << parameters.release_type >>
          module: << parameters.module >>
          tagPrefix: << parameters.tagPrefix >>

# ------------------
# WORKFLOWS
# ------------------
workflows:
  version: 2

  build_publish_main_rest_client:
    jobs:
      - build_and_test:
          filters:
            branches:
              only:
                - main
          context: SonarCloud

      - snyk_scan:
          requires:
            - build_and_test

      - major_release_approval:
          type: approval
          requires:
            - snyk_scan

      - publish_release:
          release_type: "major"
          module: "crime-commons-spring-boot-starter-rest-client"
          tagPrefix: "rest-client-"
          requires:
            - major_release_approval
          name: "Publish major release: rest client"

      - minor_release_approval:
          type: approval
          requires:
            - snyk_scan

      - publish_release:
          release_type: "minor"
          module: "crime-commons-spring-boot-starter-rest-client"
          tagPrefix: "rest-client-"
          requires:
            - minor_release_approval
          name: "Publish minor release: rest client"

      - patch_release_approval:
          type: approval
          requires:
            - snyk_scan

      - publish_release:
          release_type: "patch"
          module: "crime-commons-spring-boot-starter-rest-client"
          tagPrefix: "rest-client-"
          requires:
            - patch_release_approval
          name: "Publish patch release: rest client"

  build_publish_branch_rest_client:
    jobs:
      - branch_build_approval:
          type: approval
          filters:
            branches:
              ignore:
                - main

      - build_and_test:
          requires:
            - branch_build_approval
          context: SonarCloud

      - snyk_scan:
          requires:
            - build_and_test

      - snapshot_release_approval:
          type: approval
          requires:
            - snyk_scan

      - publish_release:
          release_type: "snapshot"
          module: "crime-commons-spring-boot-starter-rest-client"
          tagPrefix: "rest-client-"
          requires:
            - snapshot_release_approval
          name: "Publish snapshot release: rest client"

  build_publish_main_crime_commons_classes:
    jobs:
      - build_and_test:
          filters:
            branches:
              only:
                - main
          context: SonarCloud

      - snyk_scan:
          requires:
            - build_and_test

      - major_release_approval:
          type: approval
          requires:
            - snyk_scan

      - publish_release:
          release_type: "major"
          module: "crime-commons-classes"
          tagPrefix: "crime-commons-classes-"
          requires:
            - major_release_approval
          name: "Publish major release: commons classes"

      - minor_release_approval:
          type: approval
          requires:
            - snyk_scan

      - publish_release:
          release_type: "minor"
          module: "crime-commons-classes"
          tagPrefix: "crime-commons-classes-"
          requires:
            - minor_release_approval
          name: "Publish minor release: commons classes"

      - patch_release_approval:
          type: approval
          requires:
            - snyk_scan

      - publish_release:
          release_type: "patch"
          module: "crime-commons-classes"
          tagPrefix: "crime-commons-classes-"
          requires:
            - patch_release_approval
          name: "Publish patch release: commons classes"

  build_publish_branch_crime_commons_classes:
    jobs:
      - branch_build_approval:
          type: approval
          filters:
            branches:
              ignore:
                - main

      - build_and_test:
          requires:
            - branch_build_approval
          context: SonarCloud

      - snyk_scan:
          requires:
            - build_and_test

      - snapshot_release_approval:
          type: approval
          requires:
            - snyk_scan

      - publish_release:
          release_type: "snapshot"
          module: "crime-commons-classes"
          tagPrefix: "crime-commons-classes-"
          requires:
            - snapshot_release_approval
          name: "Publish snapshot release: commons classes"

  build_publish_main_crime_commons_schemas:
    jobs:
      - build_and_test:
          filters:
            branches:
              only:
                - main
          context: SonarCloud

      - snyk_scan:
          requires:
            - build_and_test

      - major_release_approval:
          type: approval
          requires:
            - snyk_scan

      - publish_release:
          release_type: "major"
          module: "crime-commons-schemas"
          tagPrefix: "crime-commons-schemas-"
          requires:
            - major_release_approval
          name: "Publish major release: commons schemas"

      - minor_release_approval:
          type: approval
          requires:
            - snyk_scan

      - publish_release:
          release_type: "minor"
          module: "crime-commons-schemas"
          tagPrefix: "crime-commons-schemas-"
          requires:
            - minor_release_approval
          name: "Publish minor release: commons schemas"

      - patch_release_approval:
          type: approval
          requires:
            - snyk_scan

      - publish_release:
          release_type: "patch"
          module: "crime-commons-schemas"
          tagPrefix: "crime-commons-schemas-"
          requires:
            - patch_release_approval
          name: "Publish patch release: commons schemas"

  build_publish_branch_crime_commons_schemas:
    jobs:
      - branch_build_approval:
          type: approval
          filters:
            branches:
              ignore:
                - main

      - build_and_test:
          requires:
            - branch_build_approval
          context: SonarCloud

      - snyk_scan:
          requires:
            - build_and_test

      - snapshot_release_approval:
          type: approval
          requires:
            - snyk_scan

      - publish_release:
          release_type: "snapshot"
          module: "crime-commons-schemas"
          tagPrefix: "crime-commons-schemas-"
          requires:
            - snapshot_release_approval
          name: "Publish snapshot release: commons schemas"

  build_publish_main_crime_commons_mod_schemas:
    jobs:
      - build_and_test:
          filters:
            branches:
              only:
                - main
          context: SonarCloud

      - snyk_scan:
          requires:
            - build_and_test

      - major_release_approval:
          type: approval
          requires:
            - snyk_scan

      - publish_release:
          release_type: "major"
          module: "crime-commons-mod-schemas"
          tagPrefix: "crime-commons-mod-schemas-"
          requires:
            - major_release_approval
          name: "Publish major release: commons mod schemas"

      - minor_release_approval:
          type: approval
          requires:
            - snyk_scan

      - publish_release:
          release_type: "minor"
          module: "crime-commons-mod-schemas"
          tagPrefix: "crime-commons-mod-schemas-"
          requires:
            - minor_release_approval
          name: "Publish minor release: commons mod schemas"

      - patch_release_approval:
          type: approval
          requires:
            - snyk_scan

      - publish_release:
          release_type: "patch"
          module: "crime-commons-mod-schemas"
          tagPrefix: "crime-commons-mod-schemas-"
          requires:
            - patch_release_approval
          name: "Publish patch release: commons mod schemas"

  build_publish_branch_crime_commons_mod-schemas:
    jobs:
      - branch_build_approval:
          type: approval
          filters:
            branches:
              ignore:
                - main

      - build_and_test:
          requires:
            - branch_build_approval
          context: SonarCloud

      - snyk_scan:
          requires:
            - build_and_test

      - snapshot_release_approval:
          type: approval
          requires:
            - snyk_scan

      - publish_release:
          release_type: "snapshot"
          module: "crime-commons-mod-schemas"
          tagPrefix: "crime-commons-mod-schemas-"
          requires:
            - snapshot_release_approval
          name: "Publish snapshot release: commons mod schemas"
