version: 2.1

orbs:
  snyk: snyk/snyk@1.1.2

_snyk_options: &snyk_options
  project: "${CIRCLE_PROJECT_REPONAME}/${CIRCLE_BRANCH}"
  organization: "legal-aid-agency"
  severity-threshold: "high"
  fail-on-issues: false
  monitor-on-build: false
  token-variable: SNYK_TOKEN
  additional-arguments: --policy-path=.snyk


# ------------------
# EXECUTORS
# ------------------
executors:
  openjdk-executor:
    resource_class: medium
    docker:
      - image: cimg/openjdk:17.0.6


# ------------------
# COMMANDS
# ------------------
commands:
  publish_artefact:
    description: >
      Publish artefact to Github packages
    parameters:
      is_branch:
        description: Flag to indicate whether we are publishing from a branch
        type: boolean
    steps:
      - restore_cache:
          keys:
            - v1-gradle-wrapper-{{ checksum "gradle/wrapper/gradle-wrapper.properties" }}
            - v1-gradle-cache-{{ checksum "crime-commons-spring-boot-starter/build.gradle" }}
      - when:
          condition: << parameters.is_branch >>
          steps:
            - run:
                name: Publish artefacts to Github Packages
                command: ./gradlew publish
      - when:
          condition:
            not: << parameters.is_branch >>
          steps:
            - run:
                name: Publish artefacts to Github Packages
                command: ./gradlew final publish

  authenticate_host:
    description: >
      Add github.com to known hosts
    steps:
      - run: ssh-keyscan github.com >> ~/.ssh/known_hosts


# ------------------
# JOBS
# ------------------
jobs:
  build_and_test:
    environment:
      _JAVA_OPTIONS: "-Xmx3g"
      GRADLE_OPTS: "-Dorg.gradle.daemon=t --add-opens=java.prefs/java.util.prefs=ALL-UNNAMED --add-opens=java.base/java.lang=ALL-UNNAMED"
    executor: openjdk-executor
    working_directory: ~/laa-crime-commons
    steps:
      - checkout
      - attach_workspace:
          at: .
      - restore_cache:
          keys:
            - v1-gradle-wrapper-{{ checksum "gradle/wrapper/gradle-wrapper.properties" }}
            - v1-gradle-cache-{{ checksum "crime-commons-spring-boot-starter/build.gradle" }}
      - run:
          name: Build library and run tests
          command: ./gradlew crime-commons-spring-boot-starter:build
      - run:
          name: Run SonarQube
          command: ./gradlew sonarqube
      - save_cache:
          paths:
            - ~/.gradle/wrapper
          key: v1-gradle-wrapper-{{ checksum "gradle/wrapper/gradle-wrapper.properties" }}
      - save_cache:
          paths:
            - ~/.gradle/caches
          key: v1-gradle-cache-{{ checksum "crime-commons-spring-boot-starter/build.gradle" }}
      - store_test_results:
          path: build/test-results/test
      - store_artifacts:
          path: build/test-results/test
      - persist_to_workspace:
          root: .
          paths:
            - .

  snyk_scan:
    executor: openjdk-executor
    working_directory: ~/laa-crime-commons/crime-commons-spring-boot-starter
    steps:
      - checkout:
          path:
            ~/laa-crime-commons
      - snyk/scan:
          <<: *snyk_options

  publish_release:
    executor: openjdk-executor
    working_directory: ~/laa-crime-commons
    steps:
      - attach_workspace:
          at: .
      - add_ssh_keys:
          fingerprints:
            - "6b:a8:8f:5d:a4:fc:7e:03:b2:0f:e2:a5:0a:ae:8f:8b"
      - authenticate_host
      - publish_artefact:
          is_branch: false

  publish_snapshot:
    executor: openjdk-executor
    working_directory: ~/laa-crime-commons
    steps:
      - attach_workspace:
          at: .
      - add_ssh_keys:
          fingerprints:
            - "6b:a8:8f:5d:a4:fc:7e:03:b2:0f:e2:a5:0a:ae:8f:8b"
      - authenticate_host
      - publish_artefact:
          is_branch: true


# ------------------
# WORKFLOWS
# ------------------
workflows:
  version: 2

  build_publish_main:
    jobs:
      - build_and_test:
          filters:
            branches:
              only:
                - main

      - snyk_scan:
          requires:
            - build_and_test

      - publish_release:
          requires:
            - snyk_scan

  build_publish_branch:
    jobs:
      - build_and_test:
          filters:
            branches:
              ignore:
                - main

      - snyk_scan:
          requires:
            - build_and_test

      - hold_publish:
          type: approval
          requires:
            - snyk_scan

      - publish_snapshot:
          requires:
            - hold_publish